/deodorant-instant-liking/.ipynb_checkpoints/
/.idea/
/titanic/.ipynb_checkpoints/
/case-studies/.ipynb_checkpoints/
/data-science/.ipynb_checkpoints/
/deodorant-instant-liking/Data_train_reduced.csv
/deodorant-instant-liking/test_data.csv
